.App {
  text-align: center;
}
.tablediv{
  width: 50%;
  margin-left: 256px;
  text-align: center;
  padding: 25px 20px;
}
.formDiv{
width: 25%;
  display: flex;
  margin: 10px;
  margin-left: 30%;
}