.App {
  text-align: center;
}
.tablediv{
  width: 50%;
  /* justify-content: center; */
  /* margin-right: 23px; */
  margin-left: 256px;
  text-align: center;
  padding: 25px 20px;
}
.formDiv{
width: 25%;
  display: flex;
  margin: 10px;
  /* margin-right: 33%; */
  margin-left: 30%;
}